/* Testimonial.css */
/* Adjust the pagination color here */
.swiper-pagination-bullet {
  background-color: red;
}

/* Adjust the active pagination bullet color here */
.swiper-pagination-bullet-active {
  background-color: rgb(26, 179, 23);
}

.quote-box {
  position: relative;
}

.quote {
  background-color: #fff;
  border-radius: 11px;
  margin: 0;
  font-size: 20px;
  height: 300px;
  padding: 40px;
}

.block-quote {
  margin: 0;
  padding: 0;
}

.block-quote::after {
  border-color: transparent #fff transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 25px;
  content: " ";
  display: block;
  position: absolute;
  bottom: -25px;
  left: 30px;
}
