/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Titillium+Web:wght@300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla", sans-serif;
}

.my-container {
  @apply lg:w-[85%] w-[90%] mx-auto;
}

/* color */
.color-green {
  @apply text-[#00E05A];
}
.bg-color-green {
  background-color: #00e05a;
}
.color-green-dark {
  color: #00a45f;
}
npm run :-moz-drag-over

/* button */
.my-btn-pri {
  @apply px-4 py-1 rounded-lg bg-[#3AE895] text-white border ease-in-out duration-300 transition-all;
}

.my-btn-pri:hover {
  @apply bg-white border-[#3AE895] text-[#3AE895];
}

.my-btn-sec {
  @apply px-4 py-1 rounded-lg bg-[#E2474B] text-white border;
}

/* off-white image */
.off-white {
  filter: grayscale(100%);
}

/* form previous next button */
.button-next {
  @apply px-4 bg-green-400 text-white rounded-md py-1 text-lg;
}

.button-pre {
  @apply px-4 bg-red-400 text-white rounded-md py-1 text-lg;
}

/* form input */
.my-input {
  @apply appearance-none border rounded w-auto py-2 px-3 text-gray-700 leading-tight;
}

.voter-input {
  @apply appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-green-500 outline-green-500;
}

.my-input:disabled {
  opacity: 0.6;
}

/*================================= chatbot css=================================== */
/* Apply this style to your container */
.custom-scrollbar::-webkit-scrollbar {
  width: 0.4em; /* Adjust as needed */
  background-color: aquamarine !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00e05a !important;
}

.custom-scrollbar-2::-webkit-scrollbar {
  width: 0.4em; /* Adjust as needed */
  @apply bg-teal-900
}

.custom-scrollbar-2::-webkit-scrollbar-thumb {
  @apply bg-teal-900 rounded-lg
}

.custom-scrollbar-2:hover::-webkit-scrollbar-thumb {
  @apply bg-teal-950
}

/* Add this to your CSS file */
.dot-pulse {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-pulse > div {
  width: 6px;
  height: 6px;
  margin: 0 2px;
  background-color: #48bb78;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
/* Add this to your CSS file */
/* Add this to your CSS file */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-6px);
  }
}
.animate-bounce-once {
  animation: bounce 1s 1;
}


/* ==========table collum padding======== */
.table :where(td){
  padding: 0 10px !important;
}
